# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Output files
*.csv
*.log

# Environment and dependency
.env
.venv/
*.egg-info/
dist/
build/

# OS and editor-specific
.DS_Store
*.swp
*.swo
.vscode/
.idea/
